{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="body">
		<h2 class="title_pres">Présentation</h2>

		<p class="txt_pres">
			Bonjour ! Je suis Nelson Lucas Pinto, un développeur web passionné en reconversion professionnelle. À 26 ans, j'ai décidé de suivre ma passion pour le web et de me spécialiser dans ce domaine en constante évolution.<br><br>
			
			Je possède une solide expérience dans le développement web, avec une expertise tant en front-end qu'en back-end. J'ai acquis des compétences approfondies dans les langages tels que HTML, CSS, JavaScript ainsi que PHP et les frameworks populaires tels que Symfony. Je suis capable de créer des sites web dynamiques et fonctionnels, en accordant une grande importance à l'expérience utilisateur et aux performances.<br><br>
			
			J'apprécie le travail d'équipe et je suis à l'aise pour collaborer efficacement avec d'autres développeurs et professionnels du domaine. Je suis constamment à la recherche de nouvelles connaissances et technologies pour rester à jour dans le domaine du développement web.Je me présenteBonjour ! Je suis Nelson Lucas Pinto, un développeur web passionné en reconversion professionnelle. À 26 ans, j'ai décidé de suivre ma passion pour le web et de me spécialiser dans ce domaine en constante évolution.<br><br>
			
			Je possède une solide expérience dans le développement web, avec une expertise tant en front-end qu'en back-end. J'ai acquis des compétences approfondies dans les langages tels que HTML, CSS, JavaScript ainsi que PHP et les frameworks populaires tels que Symfony. Je suis capable de créer des sites web dynamiques et fonctionnels, en accordant une grande importance à l'expérience utilisateur et aux performances.<br><br>
			
			J'apprécie le travail d'équipe et je suis à l'aise pour collaborer efficacement avec d'autres développeurs et professionnels du domaine. Je suis constamment à la recherche de nouvelles connaissances et technologies pour rester à jour dans le domaine du développement web.
		</p>
	</div>
{% endblock %}
