{# templates/_footer.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ asset('Assets/footer.css') }}">
	</head>
</html>

<footer>
	<hr/>
	<div class="div_droit">
		<p class="droit">© Tous droits réservé</p>
	</div>
</footer>
