{# templates/contact/contact_confirmation.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}
	<h1>Merci pour votre message</h1>
	<p>Nous avons bien reçu votre message. Nous vous répondrons dès que possible.</p>
{% endblock %}

